/CodeWithHarry_AllBasics.py
/CodeWithHarry_AllBasics10.py
/CodeWithHarry_AllBasics11.py
/CodeWithHarry_AllBasics12.py
/CodeWithHarry_AllBasics13.py
/CodeWithHarry_AllBasics14.py
/CodeWithHarry_AllBasics2.py
/CodeWithHarry_AllBasics3.py
/CodeWithHarry_AllBasics4.py
/CodeWithHarry_AllBasics5.py
/CodeWithHarry_AllBasics6.py
/CodeWithHarry_AllBasics7.py
/CodeWithHarry_AllBasics8.py
/CodeWithHarry_AllBasics9.py
/new_file.py
/new_file_tasks.txt
/Project_age_calculator.py
/Project_Arrays.py
/Project_budget_tracker.py
/Project_calculator.py
/Project_countdown_timer.py
/Project_Dice.py
/Project_number_guessing_game.py
/Project_stone_paper_scissors.py
/Project_Todo_list.py
/Project_Weather.py
/Python-developer-roadmap.pdf
/Python_Roadmap.pdf
/newProject.py
/newProjectFiles.csv
/attendance.py
/attendance_file.csv